* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    width: 100%;
    background-image: linear-gradient(to right, #D3CEDF, #fff, #D3CEDF);
}

html {
    scroll-behavior: smooth;
}

.topnav {
    background-color: lightslategrey;
    color: white;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav {
    padding: 15px 30px 30px 30px;
}

nav ul .bar {
    display: none;
}

.navbar {
    position: absolute;
    left :5%;
    font-weight: bold; 
}

.navbar a {
    color: white;
    text-decoration: none;
}

nav ul {
    margin-right: 20px;
    width: 50%;
    margin-left: 50%;
}

nav li {
    margin-right: 35px;
}

nav ul li {
    display: inline;
    float: right;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease all;
}

nav ul li a:hover {
    text-shadow: 0 0 5px #83eeff, 0 0 25px #83eeff, 0 0 50px #83eeff, 0 0 100px #83eeff;
}

.title {
    width: 100%;
    height: 93vh;
    background: url(img/succpink.jpg);
    background-size: cover;
    display: flex; 
    margin: auto;
    border-bottom: 2px solid purple;
}

.title .tulisan {
    color: white;
    font-size: 40px;
    position: static;
    margin: auto;
    text-shadow: 3px 2px 0.5px grey;
}


.about {
    width: 800px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 50px;
    margin-top: 60px;
}

.title-about {
    position: relative;
    text-align: center;
    top: 100px;
    font-size: 30px;
    z-index: -1;
}

.about .foto {
    flex-grow: 1;
    margin-right: 60px;
    height: 50%;
}

.about .foto img {
    width: 300px;
    box-shadow: -50px 50px 1px #9CB4CC;
}

.about .define {
    flex-grow: 1;
    padding-left: 40px;
    height: 50%;
    margin-top: 70px;
}

.species {
    width: 100%;
    height: 600px;
    display: flex;
    padding: 20px 50px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.title-species {
    position: relative;
    text-align: center;
    top: 100px;
    font-size: 30px;
    z-index: -1;
}

.species .foto {
    flex-direction: column;
    margin-right: 15px;
}

.species .foto img {
    border-radius: 5px;    
    transition: 0.7s ease all ;
    cursor: pointer;
}

.species .foto img:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 5px #D3CEDF, 0px 0px 25px #D3CEDF, 0px 0px 50px #D3CEDF, 0px 0px 100px #D3CEDF;
}

.species .foto .succ {
    margin-bottom: 15px;
    margin-top: 5px;
}

.kontak {
    margin-top: 400px;
    width: 100%;
    padding: 80px 50px;
    height: 100vh;
}

.kontak h2 {
    padding-top: 60px;
}

.kontak .contact {
    width: 70%;
    box-shadow : 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    text-align: center;
    height: 550px;
    border-radius: 2rem;
    float: left;
    margin-right: 5%;
    transition: 0.7s ease all;
    cursor: pointer;
}

.kontak .contact:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 5px #D3CEDF, 0px 0px 25px #D3CEDF, 0px 0px 50px #D3CEDF, 0px 0px 100px #D3CEDF;
}

.kontak .contact p {
    padding: 0 80px;
    margin-top: 80px;
    text-align: justify;
}

.kontak .bio {
    width: 25%;
    box-shadow : 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    height: 550px;
    float: right;
    border-radius: 2rem;
    text-align: center;
    padding: 20px;
    transition: 0.7s ease all;
    cursor: pointer;
}

.kontak .bio img {
    border-radius: 50%;
    width: 150px;
    border: 1px solid white;
}

.kontak .bio table {
    margin: auto;
    margin-top: 50px;
    text-align: left;
}

.kontak .bio h3 {
    margin-top: 20px;
}

.kontak .bio:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 5px #D3CEDF, 0px 0px 25px #D3CEDF, 0px 0px 50px #D3CEDF, 0px 0px 100px #D3CEDF;
}

footer {
    padding : 20px;
    color : white;
    background-color : lightslategrey;
    text-align : center;
    font-weight : bold;
    width: 100%;
}

main .bot-nav {
    display: none;
}

.kontak .bio .sosmed {
    margin-left: 15px;
} 

.kontak .bio .sosmed img {
    width: 20px;
    margin-top: 40px;
    margin-right: 15px;
    transition: 1s all;
    border: 1px solid white;
}

.kontak .bio .sosmed img:hover {
    transform: scale(1.5);
}





@media screen and (max-width: 576px) {
body {
    height: 860vh;
}

header {
    position: sticky;
    top: 0;
    width: 100%; 
}

header .navbar {
    margin-top: 8px;
}


nav ul {
    width: 100%;
    margin-left: 20px;
    overflow-x: hidden;
}

nav ul li {
    margin-top: 10px;
    margin-right: 7px;
    font-size: 14px;
    transition: all 1s;
}

nav ul li.slide {
    transform: translateX(0);
    opacity: 1;
}

.title {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.title .tulisan {
    font-size: 30px;
}

.about {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.about .foto {
    margin-right: 0;
    margin-top: 70px;
}

.about .foto img {
    width: 200px;
}

.about .define {
    padding-left: 0;
}

.species {
    width: 100%;
    flex-direction: row;
}

.species .foto {
    margin-right: 0;
}

.species .foto .succ {
    margin-bottom: 0;
    margin-top: 0;
}

.species .bawah img{
    margin-top: 10px;
}

.kontak {
    padding-top: 1000px;
}

#contact {
    margin-top: 900px;
    position: absolute;
}

.kontak .contact{
    width: 100%;
    margin: 0;
    padding: 0;
}

.kontak .contact {
    margin-top: 1000px;
    text-align: center;
    font-size: 12px;
    overflow: scroll;
}

.kontak .contact p {
    margin-top: 0;
    text-align: justify;
    padding: 17px;
}

.kontak .contact h2 {
    padding-top: 25px;
    padding-bottom: 10px;
}

.kontak .bio {
    width: 100%;
    margin-top: 30px;
    height: 450px;
}

.kontak .bio img {
    width: 70px;
}

footer {
    margin-top: 0px;
    position: absolute;
    bottom: -5000px;
    padding: 10px;
    font-weight: normal;
}

nav ul .satu, nav ul .dua, nav ul .tiga, nav ul .empat {
    transform: translateX(300px);
    opacity: 0;
}

nav ul .bar {
    display: flex;
    position: relative;
}

footer {
    overflow-y: hidden;
}



}

@media screen and (width: 768px){

body{

}

header {
    padding-right: 0;
}

.kontak {
    padding-right: 0;
}

.title {
    padding-right: 0;
}

.about {
    padding-right: 0;
}

nav ul{
    width: 100%;
    margin-left: 20px;
}

.kontak {
    padding-top: 700px;
    height: 100vh;
}

.kontak .contact{
    width: 100%;
    height: 700px;
}

.kontak .bio {
    margin-top: 40px;
    width: 100%;
    height: 500px;
}

footer {
    margin-top: 1000px;
    position: absolute;
    width: 100%;
}

}

